@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  margin: 0;
  padding: 0;
  
 
}

header {
  background-color: #333;
  color: white;
  padding: 2px;;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: #333;
  color: white;
}

.logo {
  height: 2em;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
  }

  .menu.show {
    display: flex;
  }

  .menu li {
    margin: 0 15px;
  }

  .toggle-menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
  }
}